@import "tailwindcss";

@theme inline {
  --default-font-family: "Open sans";

  --color-gray-600: #4d505c;
  --color-gray-500: #74798b;
  --color-gray-400: #74798b;
  --color-gray-300: #cdcfd5;
  --color-gray-200: #e4e6ec;
  --color-gray-100: #f9f9fb;
  --color-white: #ffffff;

  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  --color-feedback-danger: #b12c4d;
}
